<!-- Include stylesheet -->

<head>
    <link href="quill.snow.css" rel="stylesheet">
    <link href="materialize.css" rel="stylesheet">
    <link href="mine.css" rel="stylesheet">
</head>

<body>
    <br>
    <!-- Create the editor container -->

    <div class="row">
        <div class="col s12 m4 l3">
            <div class="collection">
                <hr>
                <a id="newfile" class="collection-item">
                    <svg id="i-file" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path d="M6 2 L6 30 26 30 26 10 18 2 Z M18 2 L18 10 26 10" />
                    </svg> | New File
                </a>

                <a id="openfile" class="collection-item">
                    <svg id="i-file" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path d="M6 2 L6 30 26 30 26 10 18 2 Z M18 2 L18 10 26 10" />
                    </svg> | Open File
                </a>

                <a id="savefile" class="collection-item">
                    <svg id="i-file" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path d="M6 2 L6 30 26 30 26 10 18 2 Z M18 2 L18 10 26 10" />
                    </svg> | Save File
                </a>
                <hr>
                <a id="preview" class="collection-item">
                    <svg id="i-external" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2">
                        <path d="M14 9 L3 9 3 29 23 29 23 18 M18 4 L28 4 28 14 M28 4 L14 18" />
                    </svg> | Preview</a>
                <a id="publish" class="collection-item">
                    <svg id="i-upload" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path d="M9 22 C0 23 1 12 9 13 6 2 23 2 22 10 32 7 32 23 23 22 M11 18 L16 14 21 18 M16 14 L16 29" />
                    </svg>
                    | Publish!</a>
                <hr>
                <a id="help" class="collection-item">
                    <svg id="i-info" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path d="M16 14 L16 23 M16 8 L16 10" />
                        <circle cx="16" cy="16" r="14" />
                    </svg>
                    | Help!</a>
                    <a id="setting" class="collection-item">
                        <svg id="i-settings" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M13 2 L13 6 11 7 8 4 4 8 7 11 6 13 2 13 2 19 6 19 7 21 4 24 8 28 11 25 13 26 13 30 19 30 19 26 21 25 24 28 28 24 25 21 26 19 30 19 30 13 26 13 25 11 28 8 24 4 21 7 19 6 19 2 Z" />
                            <circle cx="16" cy="16" r="4" />
                        </svg>
                        | Settings!</a>
            </div>
        </div>

        <div class="col s9">

            <div id="editor-container">
            </div>

        </div>
    </div>

    <!-- Include the Quill library -->
    <script type="text/javascript" src="quill.min.js"></script>
    <script type="text/javascript" src="render.js"></script>

    <script>
        var Embed = Quill.import('blots/block/embed');

        class Hr extends Embed {
            static create(value) {
                let node = super.create(value);
                // give it some margin
                node.setAttribute('style', "height:0px; margin-top:10px; margin-bottom:10px;");
                return node;
            }
        }
        Hr.blotName = 'hr'; //now you can use .ql-hr classname in your toolbar
        Hr.className = 'my-hr';
        Hr.tagName = 'hr';

        var customHrHandler = function () {
            // get the position of the cursor
            var range = quill.getSelection();
            if (range) {
                // insert the <hr> where the cursor is
                quill.insertEmbed(range.index, "hr", "null")
            }
        }

        Quill.register({
            'formats/hr': Hr
        });


        var Delta = Quill.import('delta');
        var quill = new Quill('#editor-container', {

            modules: {
                toolbar: [
                    [{
                        'header': [1, 2, 3, 4, 5, 6, false]
                    }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{
                        'list': 'ordered'
                    }, {
                        'list': 'bullet'
                    }],
                    ['link', 'image']
                ]
            },

            placeholder: 'Compose your post',

            theme: 'snow'
        });

        // Store accumulated changes
        var change = new Delta();
        quill.on('text-change', function (delta) {
            change = change.compose(delta);
        });

        // Save periodically
        setInterval(function () {
            if (change.length() > 0) {
                var currentdata = document.getElementsByClassName('ql-editor')[0].innerHTML;
                ipc.send('save-file-dialog', currentdata);
                change = new Delta();
            }
        }, 5 * 1000);

        // Check for unsaved data
        window.onbeforeunload = function () {
            if (change.length() > 0) {
                return 'There are unsaved changes. Are you sure you want to leave?';
            }
        }
    </script>
</body>